:root {
  /* Font settings */
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Color scheme */
  color-scheme: light dark;

  --color-light: rgba(255, 255, 255,1);
  --color-dark: rgba(33, 53, 71, 1);


  /* Text sizes */
  --font-size-small: 0.875rem; /* 14px */
  --font-size-base: 1rem;      /* 16px */
  --font-size-medium: 1.25rem; /* 20px */
  --font-size-large: 1.5rem;   /* 24px */
  --font-size-xlarge: 2rem;    /* 32px */
  --font-size-xxlarge: 3rem;   /* 48px */

  /* Font rendering */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Box Model */
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-light);
  color: var(--color-dark);
  font-size: var(--font-size-base); /* Default text size */
  background-color: darkgrey;
}

/* Headers */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 600;
  line-height: 1.2;
}

h1 {
  font-size: var(--font-size-xxlarge);
}

h2 {
  font-size: var(--font-size-xlarge);
}

h3 {
  font-size: var(--font-size-large);
}

h4 {
  font-size: var(--font-size-medium);
}

h5 {
  font-size: var(--font-size-base);
}

h6 {
  font-size: var(--font-size-small);
}

/* Paragraphs */
p {
  margin: 0 0 1rem;
  font-size: var(--font-size-base);
  line-height: 1.6;
}

/* Links */
a {
  color: var(--color-dark);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Lists */
ul, ol {
  margin: 0 0 1rem;
  padding-left: 1.5rem;
}

li {
  margin-bottom: 0.5rem;
  font-size: var(--font-size-base);
}

/* Buttons */
button {
  font-size: var(--font-size-base);
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--color-dark);
  color: var(--color-light);
  cursor: pointer;
}

button:hover {
  background-color: rgba(33, 53, 71, 0.7);
}

img {
  max-width: 100%;
  height: auto;
}

header, main, footer{
  display: flex;
  width: 100%; /* Use a percentage for fluid width */
  max-width: 1440px; /* Add a max width for larger screens */
  margin: 0 auto; /* Center the header */
}

header {
  flex-direction: column;
  background-color: var(--color-dark);
  color: var(--color-light);
  padding: 1rem;
}

header h1 {
  display: flex;
  flex-direction: row;
  font-size: var(--font-size-xxlarge);
  align-items: center; /* Center items vertically */
  justify-content: flex-start; /* Center items horizontally */
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  color: var(--color-light);
  gap: 1rem; /* Space between items */
}

/* logo */
.logo {
  max-width: 150px; /* Set the maximum width of the image */
  height: auto; /* Maintain the aspect ratio */
}

/* Main content */
main {
  flex-direction: column;
  flex: 1; /* Allow main to grow and fill the available space */
  padding: 2rem;
  background-color: var(--color-light);
  color: var(--color-dark);
  font-size: var(--font-size-base);
  line-height: 1.6;
}

main h2 {
  font-size: var(--font-size-xlarge);
  margin-bottom: 1rem;
}

/* Container */
.container {
  display: flex;
  flex-direction: column;
  width: 100%; /* Use a percentage for fluid width */

  margin: 0 auto; /* Center the container */
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* Allow wrapping for smaller screens */
  justify-content: space-between; /* Space between items */
  align-items: stretch; /* Stretch items to fill the container */
  width: 100%; /* Full width of the container */
}

.box{
  flex: 1 1 250px; /* Flex-grow to fill available space */
  padding: 1rem;
  background-color: var(--color-light);
  border: 1px solid var(--color-dark);
  margin: 0.5rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
}










footer {
  background-color: var(--color-dark);
  font-size: var(--font-size-small);
  color: var(--color-light);
  padding: 1rem;
  text-align: center;
}
footer p {
  margin: 0;
}
footer a {
  color: var(--color-light);
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}

